{% extends 'base.html.twig' %}

{% block title %}Alpif Game{% endblock %}

{% block body %}
<div
    class="main leaderboard"
    data-controller="game"
    data-game-lobby-hash-value="{{ session.hash }}"
    data-game-ws-endpoint-value="{{ websocket_endpoint }}"
>
    {{ include("_partials/_leaderboard.html.twig", { players: players, currentPlayer: currentPlayer }) }}
</div>

{% if currentPlayer.master %}
    <div
        class="second"
        data-controller="game"
        data-game-lobby-hash-value="{{ session.hash }}"
        data-game-ws-endpoint-value="{{ websocket_endpoint }}"
    >
        <div class="container">
            <button
                data-action="click->game#switch"
                data-target="blind_test"
            >BLIND TEST</button>
        </div>
    </div>
{% endif %}
{% endblock %}
