{% extends 'base.html.twig' %}

{% block title %}Alpif Game{% endblock %}

{% block body %}

<div
    class="main game"
    data-controller="game"
    data-game-ws-endpoint-value="{{ websocket_endpoint }}"
>
    <div class="title game-title">
        <h1>Question {{ question.position }}</h1>
    </div>

    {% if currentPlayer.master %}
        <div class="container game-container">
            <p>{{ question.content['question'] }}</p>
            <form action="/lobby/{{ session.hash }}/next">
                <input type="hidden" name="question" value="{{ question.id }}">
                <input type="hidden" name="player" value="{{ currentPlayer.id }}">
            </form>
            <ul>
                {% for answer in question.answers %}
                    <li class="question {{ answer.valid ? 'valid' : null }}">
                        {{ answer.answer }}
                    </li>
                {% endfor %}
            </ul>
            <button data-action="click->game#validate">VALIDER</button>
        </div>
    {% else %}
        <div class="answer-container">
            <form action="/lobby/{{ session.hash }}/next">
                <div class="answers">
                    {% for key, answer in question.answers %}
                        <input type="radio" name="answer" id="answer{{ key }}" value="{{ answer.answer }}">
                        <label for="answer{{ key }}" class="answer">{{ answer.answer }}</label>
                    {% endfor %}
                    <input type="hidden" name="question" value="{{ question.id }}">
                    <input type="hidden" name="player" value="{{ currentPlayer.id }}">
                </div>
            </form>
        </div>
    {% endif %}
</div>

<div class="second">
    {{ include("_partials/_leaderboard.html.twig", { players: players, currentPlayer: currentPlayer }) }}
</div>

{% endblock %}
